.card
    &__text
        font-family: "Pachom"
    &__info
        height: 100%
        padding: 10px
    &__buttons
        width: 100%
        display: flex
    &__button
        
        &__help
            width: 50%
            color: #205f51
            font-size: 16px
            transition: 0.3s
            border: 1px solid #205f51
            &:hover
                color: #fff
                background-color: #205f51
                
        &__replace
            width: 50%
            color: #890a0a
            font-size: 16px
            border: 1px solid #890a0a
            &:hover
                color: #fff
                background-color: #890a0a
        &__answer
            width: 100%
            color: #205f51
            font-size: 16px
            border: 1px solid #205f51
            border-top: none 
            &:hover
                color: #fff
                background-color: #205f51
