.theme
  padding: 20px 16px
  color: #fff
  transition: 0.3s
  width: 168px
  font-size: 20px
  &:hover
    background-color: #890a0a


.myst
    display: flex
    height: 100%
    &__select
        display: flex
        flex-direction: column
        width: 200px
        background-color: #205f51
    &__wrapper
        width: 100%
        display: flex
        justify-content: space-around    
    &__section
        gap: 65px
        height: max-content
        padding-top: 30px
        display: grid
        grid-template-columns: repeat(3, 2fr)  
    &__card
        height: 300px
        width: 235px
        display: flex
        flex-direction: column
        justify-content: space-between
        border: 1px solid #fccff1
        background-color: #fff
        
